.github-contact-text {
  padding-top: 10px;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    // background: $hover;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}

.github-contact-text {
  color: green;
}

li {
  color: blue;
}

